.Buttonnn:hover {
    background-color: purple;
}
canvas {
animation-name: ClownBall;
animation-duration: 4s;
animation-iteration-count: infinite;
}
@keyframes ClownBall {
    from{box-shadow: 1px 1px 30px red;}
    to{box-shadow: 1px 1px 30px yellow;}
}